<h2 id="title" class="title">Message Board</h2>
  <div class="navbar">
    {{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'about'}}About{{/link-to}} | {{#link-to 'display-favorites'}}Favorites{{/link-to}}
  </div>
{{outlet}}
