<h3>Post your Questions Here</h3>

Post your questions for below for other's to answer

<ul>
  {{#each model as |question|}}
    <li>{{question.title}} by {{question.author}} in {{question.subject}}</li>
      <p>{{question.body}}</p>
  {{/each}}
</ul>
