<h3>More Information</h3>
{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update"}}

<!-- {{#each model.answers as |answer|}} -->
  {{answer-tile answer=answer}}
  <hr>
<!-- {{/each}} -->
{{new-answer saveAnswer="saveAnswer"}}
